<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.3.xsd 
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">
      
    <context:component-scan base-package="com.cms.controller"></context:component-scan>
    <!-- 注入资源文件 -->
    <mvc:annotation-driven />
    <!-- 配置视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	  <property name="prefix"><value>/WEB-INF/jsp/</value></property>
	  <property name="suffix"><value>.jsp</value></property>
	</bean>
	<!-- 配置请求和视图名映射 -->
	<mvc:view-controller path="/jsp/main" view-name="main" />
	<mvc:view-controller path="/" view-name="login" />
	<!-- 配置静态资源映射 -->
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/img/" mapping="/img/**"></mvc:resources>
	<mvc:resources location="/WEB-INF/fonts/" mapping="/fonts/**"></mvc:resources>
	
</beans>