body{
	/* 自动调整图片 自适应 */
    background: url("/img/login_1.jpg") no-repeat center fixed;
    /* 满屏样式  */
    background-size:100%;
    animation-name:myfirst;
    /* 指定动画播放完成需要的时间 */
    animation-duration:12s;
    /* 指定动画等待时间 */
    animation-delay:2s;
    /* 指定动画播放次数 infinite为无限 */
    animation-iteration-count:infinite;
    animation-play-state:running;
}
/* 定义动画 */
@keyframes myfirst
{
    0%   {background:url("/img/login_1.jpg") no-repeat center fixed; background-size:100%;}
    34%  {background:url("/img/login_2.jpg") no-repeat center fixed; background-size:100%;}
    67%  {background:url("/img/login_3.jpg") no-repeat center fixed; background-size:100%;}
    100% {background:url("/img/login_1.jpg") no-repeat center fixed; background-size:100%;}
}
.form{background: rgba(255,255,255,0.2);width:400px;margin:120px auto;}

input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}
@font-face {
	font-family: '宋体';
	src: url('/font/glyphicons-halflings-regular.ttf');
}